#regionCharacteAnal {
    display: none;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    bottom: 0;
    border-right: #33383c 1px solid;
}

/* article_top ============================== */
#regionCharacteAnal .article_top {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

/* tit_main ========== */
#regionCharacteAnal .article_top .tit_main {
    height: 28px;
    line-height: 26px;
    margin-bottom: 22px;
    padding-left: 35px;
    font-size: 1.385em;
    font-weight: bold;
    color: #333;
    background: url("/omsc/jti/images/ic_title.png") no-repeat 0 0;
}

/* area_btn ========== */
#regionCharacteAnal .article_top .area_btn .btn_add_big {
    display: block;
    text-align: center;
    background: #8b8b8b;
}

#regionCharacteAnal .article_top .area_btn .btn_add_big>span {
    display: inline-block;
    height: 38px;
    line-height: 37px;
    padding-left: 32px;
    font-size: 1.154em;
    font-weight: bold;
    color: #FFF;
    background: url("/omsc/jti/images/ic_add_big.png") no-repeat 0 center;
    *zoom: 1;
}

/* btn_close ========== */

#regionCharacteAnal .article_top .btn_close {
    position: absolute;
    right: 15px;
    top: 17px;
    width: 27px;
    height: 27px;
    text-indent: -9999em;
    background: url("/omsc/jti/images/btn_close_big.png") no-repeat 0 0;
}

/* WidgetNaviContent_tip ============================== */

.tip {
    padding-top: 8px;
    width: 176px;
    margin: 0 auto;
}

/* WidgetNaviContent_history ============================== */

.history {
    height: 100%;
    padding: 120px 0 260px;
    box-sizing: border-box;
    *padding: 100px 20px 0;
}

.history_title {
    padding: 10px 20px;
}

.history_title .tit {
    font-size: 15px;
    font-weight: bold;
    color: #242d38;
}

/* WidgetNaviContent_histroy_list ============================== */

.histroy_list {
    overflow-y: scroll;
    height: 100%;
    border: 1px solid #999;
    *height: 75%;
}

.histroy_list::-webkit-scrollbar {
    width: 8px;
    background-color: #DDD;
}

.histroy_list::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
}

.histroy_list::-webkit-scrollbar-thumb:hover {
    background-color: #777;
    /* border:1px solid #333333; */
}

.histroy_list::-webkit-scrollbar-thumb:active {
    background-color: #555;
    /* border:1px solid #333333; */
}

.histroy_list>li {
    position: relative;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #CCC;
}

.histroy_list>li .btn_close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 9px;
    height: 8px;
    text-indent: -9999em;
    background: url("/omsc/jti/images/btn_list_close.png") no-repeat center center;
}

.histroy_list>li .tit {
    margin: 5px 0 8px;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.histroy_list>li .list_infor li {
    line-height: 1.4;
    margin-bottom: 5px;
    padding-left: 14px;
    color: #666;
    background: url("/omsc/jti/images/bul_bar_gry.gif") no-repeat 6px 8px;
}

.histroy_list>li .btn_sub {
    float: right;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    font-size: 11px;
    color: #FFF;
    background: #AAA;
}

/* item ============================== */

.histroy_list_item {
    position: relative;
    padding: 10px;
    border-bottom: 1px dotted #CCC;
}

.histroy_list_item.selected {
    background-color: #ebebeb;
}

/* head ========== */

.histroy_list_item_head {
    clear: both;
    margin-bottom: 8px;
}

/*  */

.histroy_list_item_head .btn_close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 9px;
    height: 8px;
    text-indent: -9999em;
    background: url("/omsc/jti/images/btn_list_close.png") no-repeat center center;
}

/*  */

.histroy_list_item_head_title {
    color: #333;
    font-size: 12px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.histroy_list_item_head_title .title {
    font-size: 14px;
}

.histroy_list_item_head_title .title input {
    background-color: transparent;
}

.histroy_list_item_head_title .rename_button {
    display: none;
    position: absolute;
    right: 25px;
    top: 8px;
}

/*  */

.histroy_list_item_head_del {
    width: 10px;
    float: right;
    padding-top: 3px;
}

/*  */

.histroy_list_item_subtitle {
    font-size: 11px;
    color: #5e81d2;
    margin-bottom: 3px;
}

/*  */

.histroy_list_item_info {
    font-size: 11px;
    color: #666;
}

.histroy_list_item_info .span {
    color: #949494;
    font-size: 10px;
    font-family: 'Tahoma';
}

/* item_list ============================== */

.histroy_list_item_factor {
    clear: both;
}

.histroy_list_item_factor_item {
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.histroy_list_item_factor_item img {
    margin-right: 3px;
    vertical-align: 0px;
}

.histroy_list_item_factor_item.up {
    color: #7fc457;
}

.histroy_list_item_factor_item.down {
    color: #e77365;
}

.histroy_list_item_factor_item.add {
    color: #5e81d2;
}

.display {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0px 0px 0px 18px;
    box-sizing: border-box;
}

.display_title {
    margin: 0 0 8px 0;
    clear: both;
}

.display_title .tit {
    height: 16px;
    line-height: 15px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    background: url("/omsc/jti/images/bul_setup.png") no-repeat 0 0;
}

.display_item {
    margin-bottom: 5px;
    *zoom: 1;
}

.display_item:after:after {
    content: "";
    display: block;
    clear: both;
}

.display_item .left {
    display: inline-block;
    width: 30%;
    height: 30px;
    color: #555;
    font-size: 12px;
    vertical-align: middle;
}

.display_item .right {
    display: inline-block;
    width: 68%;
    height: 30px;
    color: #666;
    font-size: 12px;
    vertical-align: middle;
}

.display_item .right input.inp_full {
    width: 100%;
}

.display_item .ty_btn .imgbtn {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    font-size: 12px;
    color: #FFF;
    background: #ff0000;
}

.display_item .ty_btn .imgbtn.btn1 {
    background-color: #007a58;
}

.display_item .ty_btn .imgbtn.btn2 {
    background-color: #999999;
}

.display_item .ty_col .imgbtn {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 1px;
}

.display_item .ty_col .imgbtn.on {
    width: 16px;
    height: 16px;
    border: 2px solid #333;
}

.histroy_list_item_factor .factor_item_title {
    line-height: 1.4;
    margin-bottom: 5px;
    padding-left: 14px;
    color: #666;
    background: url("/omsc/jti/images/bul_bar_gry.gif") no-repeat 6px 8px;
    font-size: 12px;
}

.histroy_list_item_factor .edit .factor_item_title {
    max-width: 98px;
}

.histroy_list_item_factor .factor_item_title.weight {
    max-width: 110px;
}

.histroy_list_item_factor .edit .factor_item_title.weight {
    max-width: 82px;
}

.histroy_list_item_factor .item_factor_item_left, .histroy_list_item_factor .item_factor_item_right {
    float: left;
}

.histroy_list_item_factor .item_factor_item_left.edit {
    width: 110px;
}

.histroy_list_item_factor .item_factor_item_left {
    width: 144px;
}

.histroy_list_item_factor .factor_title_image, .histroy_list_item_factor .factor_item_weight, .histroy_list_item_factor .factor_up, .histroy_list_item_factor .factor_down, .histroy_list_item_factor .facotr_delete_button {
    float: left;
}

.histroy_list_item_factor .factor_title_image, .histroy_list_item_factor .factor_up, .histroy_list_item_factor .factor_down, .histroy_list_item_factor .facotr_delete_button {
    margin-top: 3px;
    margin-bottom: 3px;
}

.histroy_list_item_factor .facotr_delete_button {
    margin-bottom: 2px;
}

.histroy_list_item_factor .facotr_delete_button {
    margin-right: 0px;
}

.histroy_list_item_factor .factor_item_weight {
    margin-right: 3px;
}

/* 컨텐츠추가 버튼*/
.histroy_list_item_factor_add_more {
    margin: 8px 0 0 3px;
    font-size: 12px;
    color: #5E81D2;
    cursor: pointer;
}

.k-slider-track {
    border: 1px solid #CCC;
    background: #EEE;
}

.k-slider-track a.k-draghandle {
    background: #FFF;
}

.admiDistrict {
    height: 24px;
    margin: 0 0 19px 0;
}

.admiDistrict ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.admiDistrict ul > li {
    line-height: 22px;
    margin-right: 3px;
    width: 50px;
    border: 1px solid black;
    float: left;
    background: white;
    text-align: center;
    cursor: pointer;
}

.admiDistrict ul > li.on {
    background-color: rgb(90, 174, 255);
    color: white;
}