#resultReport {
	display: none;
	overflow: hidden;
	position: fixed;
	z-index: 0;
	right: 0;
	top: 109px;
	width: 300px;
	height: 100%;
	border-left: 1px solid #999;
	background: #FFF;
	transform: translateX(0px);
	position: fixed;
	right: 0;
	top: 109px;
	width: 300px;
	height: 100%;
	border-left: 1px solid #999;
	background: #FFF;
}

/* article_top ============================== */
#resultReport .article_top {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
}

}
#resultReport .resultReport_body_histogram .article_top {
	position: relative;
	padding: 15px 20px 10px;
}

/* tit_main ========== */
#resultReport .article_top .tit_main {
	height: 28px;
	line-height: 26px;
	margin-bottom: 22px;
	padding-left: 35px;
	font-size: 1.385em;
	font-weight: bold;
	color: #333;
	background: url("/omsc/jti/images/ic_title.png") no-repeat 0 0;
}

#resultReport .resultReport_body_histogram .article_top .tit_main {
	margin-bottom: 0;
}

/* area_btn ========== */
#resultReport .article_top .area_btn .btn_add_big {
	display: block;
	text-align: center;
	background: #8b8b8b;
}

#resultReport .article_top .area_btn .btn_add_big>span {
	display: inline-block;
	height: 38px;
	line-height: 37px;
	padding-left: 32px;
	font-size: 1.154em;
	font-weight: bold;
	color: #FFF;
	background: url("/omsc/jti/images/ic_add_big.png") no-repeat 0 center;
	*zoom: 1;
}

/* btn_close ========== */
#resultReport .article_top .btn_close {
	position: absolute;
	z-index: 1;
	right: 49px;
	top: 17px;
	width: 27px;
	height: 27px;
	text-indent: -9999em;
	background: url("/omsc/jti/images/btn_close_big.png") no-repeat 0 0;
}

#resultReport .tit_1dp .tit {
	height: 40px;
	line-height: 48px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	box-sizing: border-box;
	background: #0079ba;
	cursor: pointer
}

#resultReport .tit_2dp {
	padding: 10px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-size: 13px;
	font-weight: bold;
	color: #007a58;
}

.resultReport_header {
	
}

.resultReport_header .btn_close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	border: none;
	text-indent: -9999em;
	cursor: pointer;
	background: url("/omsc/jti/images/btn_layer_right_close.png") no-repeat
		0 0;
}

.resultReport_body {
    height: 100%;
    padding: 70px 0 428px;
    box-sizing: border-box;
}

.resultReport_body_barChart {
	height: 100%;
	width: 100%
}

.resultReport_body_barChart_options {
	height: 12px;
	margin-top: 6px;
	margin-bottom: 12px;
	width: 100%;
}

.resultReport_body_barChart_options_select {
	float: left;
	width: 60%;
}

.resultReport_body_barChart_options_select .k-dropdown {
	width: 80px;
	height: 8px;
	font-size: 9px;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #FFF;
}

.resultReport_body_barChart_options_page {
	font-size: 10px;
	font-family: 'Tahoma';
	color: #6b6b6b;
	float: right;
	width: 40%;
	text-align: center;
	padding-right: 8px;
	padding-top: 3px;
}

.resultReport_body_barChart_options_page img {
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: -2px;
}

.resultReport_body_barChart_graph {
    overflow-y: scroll;
    height: 100%;
    border: 1px solid #999;
	padding: 5px 10px;
}

.resultReport_body_barChart_graph::-webkit-scrollbar {
	width: 5px;
	background-color: #DDD;
}

.resultReport_body_barChart_graph::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 10px;
}

.resultReport_body_barChart_graph::-webkit-scrollbar-thumb:hover {
	background-color: #777;
	/* border:1px solid #333333; */
}

.resultReport_body_barChart_graph::-webkit-scrollbar-thumb:active {
	background-color: #555;
	/* border:1px solid #333333; */
}

/* 하단버튼 ============================== */
.resultReport_body .btm_btn {
	padding: 10px 20px;
}

.resultReport_body .btm_btn a {
	display: block;
	height: 38px;
	line-height: 37px;
	font-size: 1.15em;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	background: #007a58;
}

/* title */
#chart_WidgetResultContent_summary {
	height: 400px;
	font-size: 11px;
}

.resultReport_body_best {
	margin-top: 20px;
}

.resultReport_body_best_title {
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-left: 2px;
	margin-left: 6px;
}

.resultReport_body_best_item {
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	padding-left: 6px;
	background-color: #1bbc9b;
	height: 25px;
	width: 148px;
	padding-top: 4px;
	margin-top: 8px;
	margin-left: 8px;
}

/* 컨텐츠 분포상태*/
.resultReport_body_histogram {
    position: absolute;
    bottom: 100px;
    width: 100%;
    box-sizing: border-box;
}

.resultReport_body_histogram_body {
	position: relative;
    margin: 15px 0;
    padding: 0 10px;
}

.resultReport_body_histogram_graph {
	height: 128px;
}

.resultReport_body_histogram_legend {
	font-family: "tahoma";
	font-size: 10px;
	color: #333;
	width: 148px;
	position: absolute;
	top: 114px;
	left: 8px;
}

.resultReport_body_histogram_legend_item {
	float: left;
	width: 29px;
	height: 10px;
	text-align: center;
}