/* 개발자용 ==================================================================================================== */
.blackShadow {overflow:auto; position:fixed; z-index:998; left:0; top:0; width:100%; height:100%; background:rgba(0, 0, 0, .5); display:none;}
.menu_data > .blackShadow {position:absolute;}
/* side_nav ==================================================================================================== */
.side_nav {position:absolute; z-index:802; left:30px; top:0px; width:70px; height:100%; border-right:1px solid #8ab9b5; text-align:center; background:#9dd5ce;}
/* article_top ============================== */
.side_nav > ul {}
.side_nav > ul > li {padding:0 10px;}
.side_nav > ul > li > a {display:block; height:44px; line-height:1.4; padding-top:26px; border-bottom:1px solid #bbe2dd; font-size:13px; color:#FFF; cursor:pointer;}
.side_nav > ul > li.on {background:#23b193;}
.side_nav > ul > li.long > a {height:54px; padding-top:16px;}



/* popup_layer ==================== */
.popup_layer2 {overflow:scroll; position:fixed; z-index:998; left:0; top:0; width:100%; height:100%;}
/*  ========== */
.popup_layer2 > div {position:relative;}
/* pop_header ========== */
.popup_poi_add .pop_header {}
.popup_poi_add .pop_header .pop_tit {margin:20px 0 0; padding:0 0 10px 0; font-size:1.846em; font-weight:bold; color:#333; border-bottom:2px solid #999;}
.popup_poi_add .pop_header .btn_close {display:block;position:absolute; right:20px; top:20px; width:24px; height:22px; color:#333; text-indent:-9999em; background:url("/omsc/jti/images/btn_layer_close.png") no-repeat 0 0;}
/* pop_contents ========== */
.popup_layer2 .pop_contents {}



.layout_add_layer .pop_contents {display:block;}
/* menu_tab_layer ============================== */
.layout_add_layer .menu_tab_layer {clear:both; margin:2em 0 4em; border-bottom:2px solid #CCC;}
.layout_add_layer .menu_tab_layer:after {content:""; display:block; clear:both;}
.layout_add_layer .menu_tab_layer li {float:left; margin:0 0 -2px 0;}
.layout_add_layer .menu_tab_layer li.on {border:2px solid #CCC; border-bottom:2px solid #FFF;}
.layout_add_layer .menu_tab_layer li.on a {padding:0.6em 0.8em; color:#555;}
.layout_add_layer .menu_tab_layer li a {display:block;  padding:0.6em 0.8em 0.4em; font-size:1.15em; font-weight:bold; color:#999; text-align:center;}

/* menu_tab_tab ============================== */
.layout_add_layer .menu_tab_tab {clear:both; margin:0.5em 0 1.5em;}
.layout_add_layer .menu_tab_tab:after {content:""; display:block; clear:both;}
.layout_add_layer .menu_tab_tab li {float:left; margin:0 5px 0 0; border-left:1px solid #999;}
.layout_add_layer .menu_tab_tab li:first-child {border-left:none;}
.layout_add_layer .menu_tab_tab li.on a {color:#555;}
.layout_add_layer .menu_tab_tab li a {display:block; padding:0 0.8em; font-size:1.15em; font-weight:bold; color:#999; text-align:center;}





/* popUpInfo ==================================================================================================== */
.popUpInfo {}
/* pop_header ============================== */
.popUpInfo .pop_header {position:relative; border-bottom:1px solid #555; *zoom:1;}
.popUpInfo .pop_header.non_border {border:none;}
.popUpInfo .pop_header:after {content:""; display:block; clear:both;}
/* tit_main ========== */
.popUpInfo .pop_header .tit_main {float:left; margin-right:10px; padding:0 0 6px; font-size:1.385em; font-family:"Nanum Gothic"; font-weight:bold; color:#333;}
.popUpInfo .pop_header .btn_remark {float:left; height:14px; line-height:16px; margin-top:2px; padding:0 6px; border:1px solid #999; font-size:11px;  background:#FFF;}

/* pop_contents ============================== */
.popUpInfo .pop_conts {}

/* list_store ============================== */
.list_store {margin:10px 0 0 5px;}
.list_store li {margin-top:8px; padding-left:8px; color:#666; background:url("/omsc/jti/images/dot_gry_2.gif") no-repeat 0 5px;}
.list_store li:first-child {margin-top:0;}
.list_store li a {display:inline-block;}


