/* selfmap ==================================================================================================== */
#mapWrap {}
/* header ============================== */
#Header {border-bottom:1px solid #dedede;} 
#Header > .inner {height:70px;} 
/* logo */
#Header .logo {float:left; margin:10px 40px 0 30px;} 
#Header .logo a {display:block;} 
/* gnb */ 
#Header .gnb {float:right; margin:23px 30px 0 10px;} 
#Header .gnb ul {} 
#Header .gnb ul li {float:left; margin:0 0 0 5px;} 
#Header .gnb ul li.user {line-height:24px; margin-right:20px; padding-left:18px; background:url("/omsc/jti/images/gnb_ic_user.gif") no-repeat 0 5px;} 
#Header .gnb ul li.user strong {font-weight:bold; color:#01928c;} 
#Header .gnb ul li a {display:block; height:24px; line-height:24px; padding:0 8px; border:1px solid #999; font-family:"arial", "dotum"; font-size:0.923em; color:#666;} 


/* nav ============================== */
#nav {float:left; margin:15px 10px 0 30px;}
#nav > ul {*zoom:1;}
#nav > ul:after {content:""; display:block; clear:both;}
#nav > ul > li {float:left; margin-right:15px;}
#nav > ul > li > a {display:block; padding:10px 10px 5px;  font-size:1.385em; font-weight:bold; color:#666;}
#nav > ul > li.on > a,
#nav > ul > li:hover a {border-bottom:2px solid #9dd5ce; color:#8ab9b5;}

/* map common ============================== */
 select, 
 input[type="text"] {height:26px;}

/* map_top ============================== */
 .map_top {overflow:hidden; height:39px; border-bottom:1px solid #CCC; background:#f2f2f2; *zoom:1;}
 .map_top:after {content:""; display:block; clear:both;}
/* area_lf ========= */
 .map_top .area_lf {float:left; margin:0 30px; *zoom:1;}
 .map_top .area_lf:after {content:""; display:block; clear:both;}
 .map_top .area_lf .btn_back  {float:left; margin-top:10px; display:block; width:24px; height:20px; text-indent:-9999em; background:url("../images/btn_back.png") no-repeat 0 0;}
/*  .map_top .area_lf .btn_back a {display:block; width:22px; height:22px; text-indent:-9999em; background:url("../images/selfmap/btn_back.png") no-repeat 0 0;} */
 .map_top .area_lf .title_map {float:left; line-height:38px; margin-left:12px; font-size:1.154em; font-weight:bold; color:#222;}
/* area_rg ========= */
 .map_top .area_rg {float:right; margin:0 0 0 0; }
 .map_top .area_rg ul.list_btn {margin-top:7px; *zoom:1;}
 .map_top .area_rg ul.list_btn:after {content:""; display:block; clear:both;}
 .map_top .area_rg ul.list_btn li {float:left;}
 .map_top .area_rg ul.list_btn li a {display:block; height:18px; padding:0 10px; border:1px solid #CCC; text-align:center; background:#FFF;}
/*  .map_top .area_rg ul.list_btn.btn_icon li a {display:block; width:24px; height:24px; padding:0; border:none; text-indent:-9999em; background:url("../images/btn_save.png") no-repeat 0 0;} */

.map_top .area_rg ul.list_btn.btn_icon li a {display:block; width:24px; height:24px; padding:0; border:none;}
 
.map_top .map_unit {float:left; margin:4px 20px 0 10px;}
.map_top .map_unit ul {float:none; margin:0;}
.map_top .map_unit ul:after {content:""; display:block; clear:both;}
.map_top .map_unit ul li {float:left; margin:4px 2px 4px 0px; border:1px solid #666; padding:4px 8px; color:#555; cursor:pointer; background:#FFF;}
.map_top .map_unit ul li.on,
.map_top .map_unit ul li.on:hover {color:#FFF; background:#2f97eb;}
.map_top .map_unit ul li:hover {border-color:#111; color:#111; background:#EEE;}
 
 
 
 
/* contents ============================== */
#mapWrap #contents {clear:both; width:auto; margin:0;}





/* 공통 ==================================================================================================== */
/* 본문 상단 타이틀 영역 ==================== */
.body_top {margin-bottom:15px; padding-bottom:8px; border-bottom:1px solid #555; *zoom:1;}
.body_top.bdr_none {padding-bottom:0; border-bottom:none;}
.body_top:after {content:""; display:block; clear:both;}
.body_top .body_tit {font-size:1.846em; font-weight:bold; color:#333;}
.body_top .group_lft {float:left;}
.body_top .group_rgt {float:right;}
/* cnt */
.body_top .group_rgt .cnt {display:block; margin:10px 0 0 0; font-size:1.154em;}

/* brd_wrap ==================== */
.brd_wrap {clear:both;}
/* etc */
.brd_wrap .top_txt1 {font-weight:bold; }
/* brd_header ========== */
.brd_wrap .brd_header {margin:0.4em 0 0.4em; *zoom:1;}
.brd_wrap .brd_header:after {content:""; display:block; clear:both;}
.brd_wrap .brd_header .txt_cnt {float:left; margin-top:0.7em; font-size:1.15em; color:#888;}
.brd_wrap .brd_header .txt_cnt em {font-weight:bold; color:#666;}
.brd_wrap .brd_header .bx_search {float:right;}
.brd_wrap .brd_header .bx_search input[type="text"] {width:200px; height:30px; margin-right:-3px; border-right:none;}
.brd_wrap .brd_header .bx_search input[type="button"] {height:30px; margin:0; padding:0 15px; border:none; color:#FFF; background:#2c92d0; }
/* brd_list ========== */
.brd_wrap .brd_list {margin:1em 0;}
.brd_wrap .brd_list thead th {height:30px; padding:5px 5px 5px; border:1px solid #999; text-align:center; background:#EEE;}
.brd_wrap .brd_list tbody td {height:30px; padding:5px 5px 5px; border:1px solid #CCC; text-align:center;}
.brd_wrap .brd_list tbody td.col_lf {padding-left:10px; text-align:left;}

/* paginate ==================== */
.paginate {clear:both; margin:20px 0 10px; text-align:center; *border:1px solid #FFF;}
.paginate a {width:28px; display:inline-block;  height:28px; line-height:28px; border:1px solid #CCC; color:#666; text-align:center; background-color:#FFF; *zoom:1; *display:inline;  }
.paginate > a {text-indent:-9999em;}
.paginate a.btn_firs {background:url("/omsc/selfmap/images/common/paginate2_btn_firs.gif") no-repeat center center;}
.paginate a.btn_prev {background:url("/omsc/selfmap/images/common/paginate2_btn_prev.gif") no-repeat center center;}
.paginate a.btn_next {background:url("/omsc/selfmap/images/common/paginate2_btn_next.gif") no-repeat center center;}
.paginate a.btn_last {background:url("/omsc/selfmap/images/common/paginate2_btn_last.gif") no-repeat center center;}
.paginate ol {display:inline-block; margin:0 8px; vertical-align:top; *zoom:1; *display:inline;}
.paginate ol li {display:inline-block; vertical-align:top; *zoom:1; *display:inline;}
.paginate ol li strong {display:inline-block; width:28px; height:28px; line-height:28px; font-weight:bold; color:#0b84e2; *zoom:1; *display:inline;  }
.paginate ol li strong a {width:28px; height:28px;}









/* popup_layer ==================== */
.popup_layer {overflow:auto; position:fixed; z-index:998; left:0; top:0; width:100%; height:100%; background:rgba(0, 0, 0, .5);}
/*  ========== */
.popup_layer > div {position:relative;}
/* pop_header ========== */
.popup_layer .pop_header {}
.popup_layer .pop_header .pop_tit {margin:20px 0 0; padding:0 0 10px 0; font-size:1.846em; font-weight:bold; color:#333; border-bottom:2px solid #999;}
.popup_layer .pop_header .btn_close {display:block;position:absolute; right:20px; top:20px; width:24px; height:22px; color:#333; text-indent:-9999em; background:url("../images/btn_layer_close.png") no-repeat 0 0;}
/* pop_contents ========== */
/* .popup_layer .pop_contents {display:inline} */
.popup_layer .pop_contents {}
/* pop_footer ========== */
.pop_footer {position:absolute; left:0; bottom:0; width:100%; margin:10px 0 30px; text-align:center;}
/* .pop_footer {position:absolute; bottom:0; width:100%; margin:40px 0; text-align:center;} */
.pop_footer .btn_list {}
.pop_footer .btn_list li {display:inline-block; margin:0 0.4em;}
.pop_footer .btn_list li a {}

.pop_footer .btn_cancle  {display:inline-block; min-width:160px; height:46px !important; line-height:46px; margin:0 0.2em; padding:0 2em; border:1px solid #007a58 !important; border-radius:46px; font-size:1.39em; font-weight:bold; color:#333; background:none;}
.pop_footer .btn_confirm {display:inline-block; min-width:160px; height:46px !important; line-height:46px; margin:0 0.2em; padding:0 2em; border:1px solid #007a58 !important; border-radius:46px; font-size:1.39em; font-weight:bold; color:#FFF; background:#007a58;}
.pop_footer .btn_cancle2 {display:inline-block; min-width:160px; height:46px !important; line-height:46px; margin:0 0.2em; padding:0 2em; border:1px solid #999999 !important; border-radius:46px; font-size:1.39em; font-weight:bold; color:#333; background:none;}






/* 데이타셋 ==================================================================================================== */
.popup_datafile_add		{position:relative; z-index:1; width:800px; height:600px; margin:5% auto; box-sizing:border-box; padding:30px; background:#FFF; *padding:0;}
.popup_datafile_modify	{position:relative; z-index:1; width:550px; height:320px; margin:5% auto; box-sizing:border-box; padding:30px; background:#FFF; *padding:0;}
.popup_poi_add			{position:relative; z-index:1; width:550px; height:320px; margin:5% auto; box-sizing:border-box; padding:30px; background:#FFF; *padding:0;}
.popup_image			{position:relative; z-index:1; width:800px; min-height:300px; margin:5% auto; box-sizing:border-box; padding:30px; background:#FFF; *padding:0;}

/* 파일업로드 ============================== */
.popup_layer .file_upload {margin:2em 0 2em;text-align:center;}
.popup_layer .file_upload .tit_top {margin:0 0 0.2em; font-size:36px; font-weight:bold; letter-spacing:-0.08em;}
.popup_layer .file_upload .sub_txt1 {line-height:1.6; letter-spacing:0.2em; font-size:1.15em;}
.popup_layer .file_upload .file {}
.popup_layer .file_upload .file a {display:block; margin:2em 0 0; padding:100px 0 0 0; font-size:1.39em; font-weight:bold; background:url("/omsc/jti/images/selfmap/btn_big_down.png") no-repeat center top; }
.popup_layer .file_upload .file a .txt {display:block; margin-top:0.6em; font-size:0.61em;}

.popup_layer .data_modify {margin-top:4em; text-align:center;}
.popup_layer .data_modify label {margin-right:15px; font-size:1.39em; font-weight:bold;}
.popup_layer .data_modify input[type="text"] { width:320px; height:40px !important;}
.popup_layer .data_modify .txt_del {font-size:1.39em; font-weight:bold;}





.popup_layer .layer_step2 {width:100%; margin:30px 0 30px; *zoom:1;}
.popup_layer .layer_step2:after {content:""; display:block; clear:both;}
.popup_layer .layer_step2 > div {float:left; margin-left:1%; }
.popup_layer .layer_step2 > div:first-child {margin-left:0;}
.popup_layer .layer_step2 > div.on {padding-bottom:23px;  background:url("/omsc/jti/images/step_bg_on.png") no-repeat center bottom;}
.popup_layer .layer_step2.cate4 > div {width:24%;}
.popup_layer .layer_step2.cate4 > div div {padding:20px 0 20px 30px; background:#eeecec;}
.popup_layer .layer_step2.cate4 > div.on div {background:#9dd5ce;}
.popup_layer .layer_step2.cate4 > div span {display:block; margin:0 0 6px 0; font-size:14px; font-weight:bold; color:#999;}
.popup_layer .layer_step2.cate4 > div strong {display:block; font-size:16px; font-weight:bold; color:#777;}
.popup_layer .layer_step2.cate4 > div.on span {color:#fcfcfc;}
.popup_layer .layer_step2.cate4 > div.on strong {color:#FFF;}


/* layer_step ============================== */
.popup_layer .layer_step {text-indent:-9999em; height:32px; background:no-repeat center center;}
.popup_layer .layer_step.step1 {background:url("/omsc/selfmap/images/selfmap/menu_layer_step5_1.png") no-repeat center center;}
.popup_layer .layer_step.step2 {background:url("/omsc/selfmap/images/selfmap/menu_layer_step5_2.png") no-repeat center center;}
.popup_layer .layer_step.step3 {background:url("/omsc/selfmap/images/selfmap/menu_layer_step5_3.png") no-repeat center center;}
.popup_layer .layer_step.step4 {background:url("/omsc/selfmap/images/selfmap/menu_layer_step5_4.png") no-repeat center center;}
.popup_layer .layer_step.step5 {background:url("/omsc/selfmap/images/selfmap/menu_layer_step5_5.png") no-repeat center center;}

/* 2단계 ============================== */
.popup_layer .filter_data {}
.popup_layer .filter_data input[type="text"] {width:200px; margin-left:5px;}
.brd_wrap.brd_scroll {overflow-y:scroll; margin:0.8em 0; border-top:1px solid #333; border-right:1px solid #999; border-bottom:1px solid #333;}
.brd_wrap.brd_scroll.step2_scroll {height:209px; }
.brd_wrap.brd_scroll .brd_list {margin:0;}
.brd_wrap.brd_scroll .brd_list thead th {border-top:none;}

/* 3단계 ============================== */
.data_type{overflow-y:scroll; border:1px solid #666; height:187px;}
.data_type table {}
.data_type table thead th {padding:8px 5px; border-bottom:1px solid #999; background:#f0f0f0;}
.data_type table tbody td {padding:6px 10px; border-bottom:1px solid #CCC;}
.data_type table tbody td input,
.data_type table tbody td select {width:100%;}

/* 완료 ============================== */
.group_msg {}
.group_msg .tit {margin-bottom:1em; padding-top:5em; font-size:1.846em; font-weight:bold; color:#555;}
.group_msg .txt {line-height:1.4; font-size:1.15em; font-weight:bold; color:#ff0000;}
.group_msg.msg_complete {margin:7em auto 2em; padding:50px 0 0; text-align:center; background:url("/omsc/jti/images/ic_big_complete.gif") no-repeat center 0 ;}
.group_msg.msg_fail {margin:7em auto 2em; padding:50px 0 0; text-align:center; background:url("/omsc/jti/images/ic_big_fail.png") no-repeat center 0 ;}


/* 공통 ============================== */
/* 주의 */
.popup_layer .txt_notice {margin:2em 0 2.2em; font-size:1.39em; font-weight:bold; color:#ec1c24; text-align:center;}
/* 타이틀 */
.popup_layer .area_tit {margin:1em 0 1em;}
.popup_layer .area_tit .tit_top {margin-bottom:0.5em; font-size:1.39em; font-weight:bold; color:#333;}
.popup_layer .area_tit .sub_txt1 {line-height:1.5;}



/* POI추가하기 ==================================================================================================== */
.popup_poi_add .txt {line-height:1.6; margin:20px 0 10px; font-size:1.154em; font-weight:bold; color:#8ab9b5; text-align:center;}
.popup_poi_add .txt strong {font-size:inherit; font-weight:bold; color:#ff0000;}
.popup_poi_add .tit_poi {width:60%; ; margin:0 auto; text-align:center;}
.popup_poi_add .tit_poi input[type="text"] {width:100%; height:38px !important;}
.msg_del {margin:50px 0;}






/* member - 로그인, 회원가입 등 ==================================================================================================== */
.layout_member {width:390px; min-height:460px; margin:0 auto; padding:0px 0 50px; text-align:center;}
.layout_member.service_complete {width:1200px;}
.layout_member.service_complete > .inner {width:390px; margin:0 auto;}
/* title */
.layout_member .tit_mem_login {margin:45px 0 42px; padding:145px 0 0 0; font-size:1.85em; font-weight:bold; color:#666; background:url("/omsc/jti/images/ic_big_login.gif") no-repeat 155px top;}
.layout_member .tit_mem_join {margin-bottom:42px; font-size:1.85em; font-weight:bold; color:#666;}
.layout_member .tit_mem_findpw {margin:45px 0 42px; padding:145px 0 0 0; font-size:1.85em; font-weight:bold; color:#666; background:url("/omsc/jti/images/ic_big_findpw.gif") no-repeat center top;}
.layout_member .tit_mem_findid {margin:45px 0 42px; padding:145px 0 0 0; font-size:1.85em; font-weight:bold; color:#666; background:url("/omsc/jti/images/ic_big_findid.gif") no-repeat center top;}
.layout_member .tit_mem_service {margin:45px 0 9px; line-height:1.5; padding:145px 0 0 0; font-size:1.85em; font-weight:bold; color:#666; background:url("/omsc/jti/images/ic_big_service.gif") no-repeat center top;}
.layout_member .tit_mem_complete {margin:45px 0 9px; line-height:1.5; padding:145px 0 0 0; font-size:1.85em; font-weight:bold; color:#666; background:url("/omsc/jti/images/ic_big_complete.gif") no-repeat center top;}
/* area_input */
.layout_member .area_input {margin-bottom:2.4em;}
.layout_member .area_input dl {}
.layout_member .area_input dl dt {display:none;}
.layout_member .area_input dl dd {margin-bottom:1.6em;}
.layout_member .area_input dl dd.bx_inp_id input {padding-left:80px !important; background:url("/omsc/jti/images/ic_form_id.png") no-repeat 28px center !important;}
.layout_member .area_input dl dd.bx_inp_pw input {padding-left:80px !important; background:url("/omsc/jti/images/ic_form_pw.png") no-repeat 30px center !important;}
.layout_member .area_input dl dd.side_btn {position:relative;}
.layout_member .area_input dl dd.side_btn input {padding-right:5.5em;}
.layout_member .area_input dl dd.side_btn .btn_sub {position:absolute; right:0; top:0; height:50px; line-height:50px; padding:0 1em; font-size:1.39em; color:#FFF; background:#6c6e71;}
.layout_member .area_input dl dd input {width:100%; height:50px; padding-left:1em; border:1px solid #CCC; font-size:1.39em; color:#666;}
.layout_member .area_input dl dd label.error {display:block; margin-top:0.5em; padding-left:1em; text-align:left; font-size:1.15em; color:#ff0000;}
/* btn */
.layout_member .area_btn {width:245px; margin:1em auto 0; padding-bottom:10px;}
.layout_member .area_btn ul {}
.layout_member .area_btn ul li {margin-bottom:20px;}
.layout_member .area_btn .mem_btn_ty1 {display:block; height:56px; line-height:56px; border:1px solid #5dc6c6; border-radius:56px;}
.layout_member .area_btn .mem_btn_ty1 input {width:100%; height:100%; border:0; font-size:1.85em; font-weight:bold; color:#333; background:none;}
.layout_member .area_btn .mem_btn_ty2 {display:block; height:56px; line-height:56px; border:1px solid #5dc6c6; border-radius:56px; background:#5dc6c6;}
.layout_member .area_btn .mem_btn_ty2 input {width:100%; height:100%; border:0; font-size:1.85em; font-weight:bold; color:#FFF; background:none;}
.layout_member .area_btn .btn_social_face {display:block; height:56px; line-height:56px; border:1px solid #3c5a98; border-radius:56px; background:#3c5a98;}
.layout_member .area_btn .btn_social_face span {display:inline-block; height:100%; padding-left:25px; font-size:1.15em; font-weight:bold; color:#FFF; background:url("/omsc/jti/images/member/ic_emb_facebook.png") no-repeat 0 center;}
/* bottom */
.layout_member .area_btm {}
.layout_member .area_btm ul {display:inline-block; text-align:center;}
.layout_member .area_btm ul li {float:left; margin:0 5px 0 5px; padding:0 5px 0 10px; background:url("/omsc/jti/images/member/bar_gry_13.gif") no-repeat 0 2px;}
.layout_member .area_btm ul li:first-child {background:none;}
.layout_member .area_btm ul li a {}
/* agree */
.layout_member .area_agree {clear:both; margin:4em 0 2.5em;}
.layout_member .area_agree label { margin-right:1em; font-size:1.39em; color:#333;}
.layout_member .area_agree label input[type="checkbox"] {margin-top:4px;}
.layout_member .area_agree a {border-bottom:1px solid #999; font-size:1.15em; color:#666;}
/* find_id */
.layout_member .txt_find_id {margin:1em 0 2em; font-size:1.39em;}
.layout_member .txt_find_id strong {font-weight:bold; color:#13a6a6;}
/* 서비스신청 */
.layout_member.service_complete .service_txt {line-height:1.7; margin-bottom:30px; padding:0 0 24px; font-size:1.154em; background:url("/omsc/jti/images/member/tit_bg_bar.gif") no-repeat center bottom;}
.layout_member.service_complete .complete_txt {line-height:1.7; margin-bottom:100px; padding:0 0 24px; font-size:1.154em; background:url("/omsc/jti/images/member/tit_bg_bar.gif") no-repeat center bottom;}
.layout_member.service_complete .tit_field {margin:20px 0 20px; font-size:1.615em; font-weight:bold; color:#555;}





/* dataset ==================================================================================================== */
.dataset_snb {float:left; width:240px; margin:90px 30px 50px 0; padding-left:20px;}
/* snb ============================== */
.dataset_snb ul {}
.dataset_snb ul li {margin-bottom:20px;}
.dataset_snb ul li a {display:block; padding:8px 12px; font-size:1.154em; font-weight:bold; color:#58595b;}
.dataset_snb ul li.on a,
.dataset_snb ul li a:hover {color:#5dc6c6;}
/* db 메뉴 ========== */
.dataset_snb ul.menu_db {padding-top:10px;}
.dataset_snb ul.menu_db li a {padding-left:45px; background:url("/omsc/selfmap/images/dataset/btn_ic_db.png") no-repeat 12px center;}
/* 버튼 ========== */
.dataset_snb .btm_btn {}
.dataset_snb .btm_btn a {display:block; width:180px; height:48px; line-height:48px; border-radius:48px; border:1px solid #5dc5c5; text-align:center;}
.dataset_snb .btm_btn a:hover {color:#333;}

/* contents ============================== */
.dataset_contents {float:left; width:850px; margin:50px 0 100px;}
/* brd_wrap ========== */
.dataset_contents .brd_wrap {}
/* brd_top ========== */
.dataset_contents .brd_wrap .brd_top {clear:both; margin:4px 0 18px; *zoom:1;}
.dataset_contents .brd_wrap .brd_top:after {content:""; display:block; clear:both;}
.dataset_contents .brd_wrap .brd_top .group_lft {float:left;}
.dataset_contents .brd_wrap .brd_top .group_rgt {float:right;}
.dataset_contents .brd_wrap .brd_top .group_rgt .btn_upload {}
/* brd_btm_rgt ========== */
.dataset_contents .brd_wrap .brd_btm_rgt {clear:both; margin:10px 0; text-align:right;}
.dataset_contents .brd_wrap .brd_btm_rgt .btn_upload {display:inline-block; height:40px; line-height:40px; padding:0 40px; color:#FFF; background:#333;}





/* 데이터셋 ============================== */
.col5p { width:50%; }

.left { float:left; }
.right { float:right; }
