@charset "utf-8"; 
@import url("/omsc/jti/css/nanumgothic/nanumgothic.css");

/*

13px 기준
12px - 0.923em
13px - 1.0em
15px - 1.154em
18px - 1.385em
21px - 1.615em
24px - 1.846em
30px - 2.308em

*/

/* reset */
html, body, blockquote, caption, dd, div, dl, dt, fieldset, form, frame, h1, h2, h3, h4, h5, h6, hr, iframe, input, legend, li, object, ol, p, pre, q, select, table, textarea, tr, td, ul {margin:0; padding:0;}

body {font-size:0.813em;}
body, input, textarea {font-style:normal; font-weight:normal; line-height:1.1; font-family:"Nanum Gothic", dotum, sans-serif, arial;}
body, a, a:link, a:focus, a:active, a:visited, a:hover, input:focus {color:#666;}

ul, ol, dl {list-style:none;}
table {border-collapse:collapse; border:0; empty-cells:show; width:100%; font-size:1.0em;}
th, td {vertical-align:baseline;}
fieldset {border:0;}
img {border:0; vertical-align:top;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal;}
address, caption, em, strong, th {font-style:normal; font-weight:normal;}
a {text-decoration:none; background:transparent;}

hr {position:absolute; visibility:hidden; width:0; height:0px; border:0;}

input, select, label, span, a {vertical-align:middle;}
textarea {width:100%; padding:6px 7px; border:1px solid #c6c6c6; *padding:1%; *width:97%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; resize:none /* size fix for webkit engine browser */;}
input[type="text"], 
input[type="password"] {height:22px; padding:0 0 0 5px; border:1px solid #c6c6c6; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; *height:21px; *padding:0;}
input[type="button"], 
button {height:22px; padding:0 5px; border:1px solid #c6c6c6; cursor:pointer; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; *height:21px; *padding:0;}
input[type="radio"], 
input[type="checkbox"] {margin-top:0px; *margin-right:0;}
label input[type="radio"],
label input[type="checkbox"] {margin-right:5px;}
input[type="file"], 
select {height:22px;}

input::-webkit-input-placeholder	{color:#8d97a6;} /* Webkit */
input:-moz-placeholder				{color:#8d97a6;} /* Firefox 4-18 */
input::-moz-placeholder				{color:#8d97a6;} /* Firefox 19+ */
input:-ms-input-placeholder			{color:#8d97a6;} /* IE10+ */

.clearfix {*zoom:1;}
.clearfix:after {content:""; display:block; clear:both;}
.hide {visibility:hidden; overflow:hidden; position:absolute; width:0; height:0; font-size:0; line-height:0;}
