<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<base href="http://demos.telerik.com/kendo-ui/bar-charts/index">
<style>
html {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
</style>
<base href="http://demos.telerik.com/kendo-ui/bar-charts/plotbands">
<style>
html {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
</style>
<link rel="stylesheet"
	href="//kendo.cdn.telerik.com/2016.3.1028/styles/kendo.common-material.min.css" />
<link rel="stylesheet"
	href="//kendo.cdn.telerik.com/2016.3.1028/styles/kendo.material.min.css" />
<link rel="stylesheet"
	href="//kendo.cdn.telerik.com/2016.3.1028/styles/kendo.material.mobile.min.css" />

<script src="//kendo.cdn.telerik.com/2016.3.1028/js/jquery.min.js"></script>
<script src="//kendo.cdn.telerik.com/2016.3.1028/js/kendo.all.min.js"></script>
<title>Insert title here</title>
</head>
<body>

	<div class="chart top left"
		style="border: 1px solid; width: 45%; height: 300px; top: 15px; float: left; margin-left: 50px; margin-right: 20px;"></div>
	<div class="chart top right"
		style="border: 1px solid; width: 45%; height: 300px; top: 15px; float: left;"></div>


	<div class="middle"
		style="border: 1px solid; float: left; width: 91%; height: 50px; margin-left: 50px; margin-top: 30px;">지역특성</div>
	<div class="chart bottom left"
		style="border: 1px solid; float: left; width: 30%; height: 300px; margin-left: 50px; margin-top: 15px;"></div>
	<div class="chart bottom middle"
		style="border: 1px solid; float: left; width: 30%; height: 300px; margin-top: 15px;"></div>
	<div class="chart bottom right"
		style="border: 1px solid; float: left; width: 30%; height: 300px; margin-top: 15px;"></div>

	<script>
		function createChart() {
			// 성/연령별 구성
			var sexAge = [ {
				"sex" : "20대 이하",
				"man" : 13,
				"extremum" : "MIN: 13",
				"female" : 14
			}, {
				"sex" : "30대",
				"man" : 22,
				"female" : 13
			}, {
				"sex" : "40대",
				"man" : 24,
				"female" : 12
			}, {
				"sex" : "50대",
				"man" : 27,
				"extremum" : "MAX: 27",
				"female" : 9
			}, {
				"sex" : "60대 이상",
				"man" : 26,
				"female" : 8
			} ];
			
			// 주변 지역 비교
			var surrounding = [ {
				"blockname" : "해당블록",
				"focusedblock" : 700
			}, {
				"blockname" : "동 평균",
				"dongavg" : 550,
			}, {
				"blockname" : "구 평균",
				"guavg" : 500,
			} ];
			
			// 주택 종류별
			var apartment = [ {
				"house" : "아파트",
				"apart" : 50,
			}, {
				"house" : "빌라",
				"villa" : 100,
			}, {
				"house" : "일반단독주택",
				"dandok" : 350,
			}, {
				"house" : "다가구단독주택",
				"dagagu" : 300,
			}, {
				"house" : "오피스텔",
				"opistel" : 500,
			} ];
			
			// 면적별
			var widthproperty = [ {
				category : "0~66m2",
				value : 53.8,
				color : "#9de219"
			}, {
				category : "132~165m2",
				value : 16.1,
				color : "#90cc38"
			}, {
				category : "165~198m2",
				value : 11.3,
				color : "#068c35"
			}, {
				category : "198~330m2",
				value : 9.6,
				color : "#006634"
			}, {
				category : "330m2 초과",
				value : 5.2,
				color : "#004d38"
			} ];
			
			// 가격별
			var cost = [ {
				category : "0~100만원",
				value : 53.8,
				color : "#9de219"
			}, {
				category : "100~300만원",
				value : 16.1,
				color : "#90cc38"
			}, {
				category : "300~500만원",
				value : 11.3,
				color : "#068c35"
			}, {
				category : "500~700만원",
				value : 9.6,
				color : "#006634"
			}, {
				category : "700만원 초과",
				value : 5.2,
				color : "#004d38"
			} ];
			
			$(".chart.top.left").kendoChart({
				dataSource : {
					data : sexAge
				},
				title : {
					text : "성/연령별 구성"
				},
				legend : {
					position : "bottom"
				},
				series : [ {
					field : "man",
					name : "남자"
				}, {
					field : "female",
					name : "여자"
				} ],
				categoryAxis : {
					field : "sex",
					majorGridLines : {
						visible : false
					}
				},
				valueAxis : {
					line : {
						visible : false
					}
				},
				tooltip : {
					visible : true,
					format : "N0"
				}
			});
			$(".chart.top.right").kendoChart({
				dataSource : {
					data : surrounding
				},
				title : {
					text : "주변 지역 비교"
				},
				legend : {
					position : "bottom"
				},
				series : [ {
					field : "focusedblock",
					name : "해당블록"
				}, {
					field : "dongavg",
					name : "동평균"
				}, {
					field : "guavg",
					name : "구평균"
				} ],
				categoryAxis : {
					field : "blockname",
					majorGridLines : {
						visible : false
					}
				},
				valueAxis : {
					line : {
						visible : false
					}
				},
				tooltip : {
					visible : true,
					format : "N0"
				}
			});

			$(".chart.bottom.left").kendoChart({
				dataSource : {
					data : apartment
				},
				title : {
					text : "주택종류별"
				},
				legend : {
					position : "bottom"
				},
				series : [ {
					field : "apart",
					name : "아파트"
				}, {
					field : "villa",
					name : "빌라"
				}, {
					field : "dandok",
					name : "단독"
				}, {
					field : "dagagu",
					name : "다가구"
				}, {
					field : "opistel",
					name : "오피스텔"
				} ],
				categoryAxis : {
					field : "house",
					majorGridLines : {
						visible : false
					}
				},
				valueAxis : {
					line : {
						visible : false
					}
				},
				tooltip : {
					visible : true,
					format : "N0"
				}
			});
			$(".chart.bottom.middle").kendoChart({

				dataSource : {
					data : apartment,
				},
				title : {
					text : "면적별"
				},
				legend : {
					position : "right"
				},
				chartArea : {
					background : ""
				},
				seriesDefaults : {
					labels : {
						visible : false,
						background : "transparent",
					/* template: "#= category #: \n #= value#%" */
					}
				},
				series : [ {
					type : "pie",
					startAngle : 150,
					data : widthproperty
				} ],
				tooltip : {
					visible : true,
					format : "{0}%"
				},
				valueAxis : {
					line : {
						visible : false
					}
				},
			});
			$(".chart.bottom.right").kendoChart({
				dataSource : {
					data : apartment,
				},
				title : {
					text : "가격별"
				},
				legend : {
					position : "right"
				},
				chartArea : {
					background : ""
				},
				seriesDefaults : {
					labels : {
						visible : false,
						background : "transparent",
					/* template: "#= category #: \n #= value#%" */
					}
				},
				series : [ {
					type : "pie",
					startAngle : 150,
					data : cost
				} ],
				tooltip : {
					visible : true,
					//format : "{0}%"
				},
				valueAxis : {
					line : {
						visible : false
					}
				},
			});
		}

		$(document).ready(function() {
			createChart();
		});
		$(document).bind("kendo:skinChange", createChart);
	</script>
</body>
</html>