#commentForm {
    position: absolute;
    width: 600px;
    height: 400px;
    padding: 10px;
    background: white;
    margin: 5% auto;
    box-sizing: border-box;
}

.pop_contents {
    padding: 30px;
    display: inline-block;
}

.pop_contents #comment_textCount {
    float: right;
}

.comment .imageArea {
    width: 20%;
    height: 100px;
    float: left;
    display: none;
}

.popup_poi_add .pop_header .pop_tit {
    margin: 20px 0 0;
    padding: 0 0 10px 0;
    font-size: 1.846em;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #999;
}

.popup_poi_add .pop_header .btn_close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 24px;
    height: 22px;
    color: #333;
    text-indent: -9999em;
    background: url(/omsc/jti/images/btn_layer_close.png) no-repeat 0 0;
}

.pop_contents #comment_textCount {
    float: right;
}

.pop_footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 10px 0 30px;
    text-align: center;
}

.pop_footer .btn_confirm {
    display: inline-block;
    min-width: 160px;
    height: 46px !important;
    line-height: 46px;
    margin: 0 0.2em;
    padding: 0 2em;
    border: 1px solid #007a58 !important;
    border-radius: 46px;
    font-size: 1.39em;
    font-weight: bold;
    color: #FFF;
    background: #007a58;
}

.pop_footer .btn_cancle {
    display: inline-block;
    min-width: 160px;
    height: 46px !important;
    line-height: 46px;
    margin: 0 0.2em;
    padding: 0 2em;
    border: 1px solid #007a58 !important;
    border-radius: 46px;
    font-size: 1.39em;
    font-weight: bold;
    color: #333;
    background: none;
}