#nearbyBusinesses {
    width: 250px;
    height: 100%;
    display: none;
    background-color: #FFF;
    border-right: #333 1px solid;
}

/* article_top ============================== */
#nearbyBusinesses .article_top {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

/* tit_main ========== */

#nearbyBusinesses .article_top .tit_main {
    height: 28px;
    line-height: 26px;
    margin-bottom: 22px;
    padding-left: 35px;
    font-size: 1.385em;
    font-weight: bold;
    color: #333;
    background: url("/omsc/jti/images/ic_title.png") no-repeat 0 0;
}

/* btn_close ========== */

#nearbyBusinesses .article_top .btn_close {
    z-index: 9999;
    position: absolute;
    right: 8px;
    top: 19px;
    width: 27px;
    height: 27px;
    text-indent: -9999em;
    background: url("/omsc/jti/images/btn_close_big.png") no-repeat 0 0;
}

/* scroll ============================== */

#nearbyBusinesses .scroll_outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 70px 0 0;
    box-sizing: border-box;
}

#nearbyBusinesses .facility_cont {
    overflow-y: scroll;
    height: 100%;
    margin: 0 0 0 10px;
    border-top: 1px solid #999;
}

#nearbyBusinesses .facility_cont::-webkit-scrollbar {
    width: 8px;
    background-color: #EEE;
}

#nearbyBusinesses .facility_cont::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 10px;
}

#nearbyBusinesses .facility_cont::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

#nearbyBusinesses .facility_cont::-webkit-scrollbar-thumb:active {
    background-color: #555;
}

/* list ============================== */

/* title */

#nearbyBusinesses .facility_cont .category.facility_cont_category {
    overflow: hidden;
    padding: 10px 0 10px 5px;
    border-top: dotted 1px #939393;
    border-bottom: dotted 1px #939393;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#nearbyBusinesses .facility_cont>.category:first-child .facility_cont_category {
    border-top: none;
}

/* row */
#nearbyBusinesses .facility_cont_row {
    overflow: hidden;
    position: relative;
    height: 26px;
    line-height: 26px;
    padding: 0 0 0 20px;
    font-size: 12px;
    color: #666;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
}

#nearbyBusinesses .facility_cont_row:hover {
    color: #FFF;
    background: #4daee3;
}

#nearbyBusinesses .facility_cont_row.selected {
    color: #FFF;
    background: #4daee3 url("/omsc/jti/images/ic_chk.png") no-repeat 85% 8px;
}

/* row_pos */
#nearbyBusinesses .row_pos {
    position: relative;
}

/* 추가버튼 */
#nearbyBusinesses .row_pos .btn_add {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 14px;
    height: 14px;
    text-indent: -9999em;
    background: url("/omsc/jti/images/btn_plus.png") no-repeat 0 0;
}

#nearbyBusinesses .row_pos.selected .btn_add {
    background: url("/omsc/jti/images/btn_plus_on.png") no-repeat 0 0;
}

.maker-span {
    display: none;
    padding: 5px;
    white-space: nowrap;
    border: 1px solid #CCC;
    background: #FFF;
}