#resultReportTable {
	display: none;
	position: fixed;
	top: 111px;
	bottom: 0px;
	height: 100%;
    background: #FFF;
    border-left: 1px solid #999;
    width: 79%;
    right: 0px;
    transform: translateX(0px);
}

.resultReportTable_header {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 49px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #333;
	border-left: 1px solid #999;
	background: #EEE;
}

.resultReportTable_header_title {
	float: left;
	padding-left: 30px;
	font-size: 21px;
	font-weight: bold;
	color: #222;
}

.resultReportTable_header_close {
	float: right;
}

.resultReportTable_header_close .btn_close {
	display: block;
	width: 18px;
	height: 16px;
	margin: 15px 15px 0 0;
	text-indent: -9999em;
	cursor: pointer;
	background: url("/omsc/jti/images/btn_close.png") no-repeat 0 0;
}

.resultReportTable_body {
	clear: both;
	position: relative;
	bottom: 0;
	width: 100%x;
	height: 100%;
	padding: 50px 20px 20px;
}

.resultReportTable_body_title {
	margin: 20px 0 10px;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

.resultReportTable_body_dataset {
	height: 100%;
	bottom: 0;
}